* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
}

button {
    cursor: pointer;
    border: 1;
    outline: 1;
}

input {
    border: 0;
    outline: 0;
}